/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-image: url("./assets/Fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}